<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category List</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
    }
    th {
      background-color: #f4f4f4;
    }
  </style>
</head>
<body>

<h1>Category List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Category</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <!-- Category 목록을 반복하여 출력 -->
  <tr th:each="category : ${categories}">
    <td th:text="${category.id}"></td>
    <td th:text="${category.parent}"></td>
    <td th:text="${category.name}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
